body {
    font-family: Georgia, Times, serif;
}

h2 {
    font-family: Arial, Verdana, sans-serif;
}

.credits {
    font-family: "Courier New", Courier,
        monospace;
    margin-left: 1100px;
}
h1 {
    text-shadow: 2px 2px rgb(98, 121, 157);
    color: rgb(106, 165, 238);
}

.lkp {
    color: rgb(103, 192, 221);
}

.MH {
    text-shadow: 2px 2px rgb(98, 121, 157);
    color: rgb(106, 165, 238);
    font-size: 25px;

}
p.intro:first-letter {
    font-size: 200%;}
   
.MH :hover {
    text-decoration: underline black;
}

input {
    padding: 6px 12px 6px 12px;
    border: 1px solid #665544;
    color: #9c2f2f;}
    input.submit:hover {
    background-color: #665544;}
    input.submit:active {
    background-color: chocolate;}
    input.text {
    color: #cccccc;}
    input.text:focus {
    color: #665544;}
